/*
    border-style: solid;
    border-width:1px ;
    border-color: black; 
*/
*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.interface{
    display: flex;
    justify-content: center;
}

.website_photo{
    margin: -12% 0 0 0;
    object-fit: cover;
    width: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    margin: 5 0 0 0;
    width: 100%;
}

.link{
    margin: 10 150 0 0;
    display: flex;
    cursor: pointer;
    gap: 20px;
}

.link div{
    color: white;
}

.header .logo  img{
    height: 100%;
    margin: 0 0 0 100;
    width: 180px;
}

.middle{
    display: flex;
    flex-direction: column;
    max-width: 620px;
    color: white;
    text-align: center;
    position: absolute;
    margin-top: 17%;
}

.middle p:nth-child(1),p:nth-child(3),p:nth-child(4){
    font-size: 20px;
    margin: 20 0 0 0;
}

.middle p:nth-child(2){
    font-size: 50px;
    margin: 20 0 0 0;
}

.info{
    margin: 20 0 0 0;
}

.info button{
    margin-right: 4px;
    width: 120px;
    height: 50px;
    color: white;
    border-radius: 3px;
    border-style:solid ;
    background: none;
    cursor: pointer;
}

.info button:nth-child(1){
    border: none;
    background-color: rgb(204, 160, 95);
}

.who_we_are{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1750;
    text-align: left;
    padding: 3%;
    justify-content: center;
    gap: 60px;
}

.who_we_are img{
    width: 30%;
}

.who_we_are .content{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 750;
}

.who_we_are .content *{
    font-size:19px ;
}

.who_we_are .content p:nth-child(1){
    font-size: 30px;
}

.our_location{
    padding: 40px 0;
    background-color: #dddada4c;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
}

.our_location img{
    /* display: inline; */
    /* object-fit: cover; */
    width: 35%;
}

.our_location .content{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 600px;
    gap: 20px;
}

.our_location .content p:nth-child(1){
    font-size: 30px;
}

.our_location .content *{
    font-size: 19px;
}

.our_baking{
    padding: 40px;
    justify-content: center;
}

.our_baking p:nth-child(1),p:nth-child(2){
    margin-bottom: 20px;
    /* gap: 60%; */
}

.our_baking p:nth-child(1){
    font-size: 30px;
}

.our_baking div{
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
}

.our_baking div img{
    object-fit: cover;
}

.our_baking div *{
    width: 380px;
    display: flex;
    object-fit: cover;
    flex-direction: column;
}

.contact_information{
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
    background-color: #dddada4c;
    justify-content: center;
    text-align: center;
    gap: 60px;
    width: 100%;
}

.contact_information div{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 30px;
    max-width: 500px;
}

.contact_information p:nth-child(1){
    font-size: 30px;
}

.contact_information p {
    font-size: 18px;
}
